{% extends 'app/home.html' %}

{% block content %}
{% if user.is_authenticated %}
{% csrf_token %}
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">

<div class="row" style="padding: 5px;">
    <h3 style="margin: 5px;">user information</h3>

    <div class="col-lg-6"  >
        <div class="box-element" id="box-element" >
            <form id="form2"   >
                <div id="user-info" style="margin: 5px;" >
                    <div class="form-field"  style="width:250px;
                    display: inline-block;
                    padding: 5px;">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field"  style="width:250px;
                    display: inline-block;
                    padding: 5px;">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>
                
                <div id="shipping-info" style="margin: 10px;">
                    <hr>
                    <h4>Shipping Information:</h4>
                    <hr>
                    <div class="form-field"  style="width:250px;
                    display: inline-block;
                    padding: 5px;">
                        <input class="form-control" id="input-form" type="text" name="address" placeholder="Address.." >
                    </div>
                    <div class="form-field"  style="width:250px;
                    display: inline-block;
                    padding: 5px;">
                        <input class="form-control"   id="input-form"   type="text" name="city" placeholder="City.." >
                    </div>
                    <div class="form-field" style="width:250px;
                    display: inline-block;
                    padding: 5px;">
                        <input class="form-control"   id="input-form"  type="text" name="state" placeholder="State.." >
                    </div>
                    <div class="form-field" style="width:250px;
                    display: inline-block;
                    padding: 5px;">
                        <input class="form-control"   id="input-form"  type="text" name="zipcode" placeholder="Zip code.." >
                    </div>
                    <div class="form-field" style="width:250px;
                    display: inline-block;
                    padding: 5px;">
                        <input class="form-control"  id="input-form"  type="text" name="country" placeholder="Zip code..">
                    </div>
                </div>

                <hr>
                <input id="form-button"    
                class="btn btn-dark" type="submit" value="Continue" style="width: auto; margin: 10px; background-color: #153448; ">
            </form>
        </div>

        <br>

	</div>
    
    <div class="col-lg-6">
        <div class="box-element" id="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"><p></p></div>
                <div style="flex:1"><p>$</p></div>
                <div style="flex:1"><p>x</p></div>
            </div>
            {% endfor %}
            <h5>Items:   {{order.get_cart_items}}</h5>
            <h5>Total:   ${{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
     </div>
    </div>


{% endif %}
{% endblock %}