{% extends 'app/home.html' %}
{% block content %}

    <div class="auth-div" >
      
    <h1 >Register Here !</h1>
    {% if message %}
    <div class="alert alert-danger" role="alert" style="width:700px; height: auto; margin-left: auto;
    margin-right: auto;" >{{message}}</div> 
    {% endif %}
  <form method="POST" class="auth-form" >
    {% csrf_token %}
        {{form.as_p}}
        <input type="submit" name="Register" class="btn btn-dark" />
        
        <p> already have an account? <a href="{% url 'login' %}"> Login </a></p>
        </form>
        
</div>

{% endblock %}