@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans+Narrow:wg');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Playwrite+AU+SA:wght@100..400&display=swap');
/* #root{
  width: 100%;
}

body{
  background-color: #EADBC8;
} */
.orange{
  color: #FFC100;
}
.container22 {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-image: linear-gradient(#ffffff 1.1rem, #ccc 1.2rem);
  background-size: 100% 1.2rem;
}

.book-div{
  height:auto;
   width:auto;
   padding: 20px;
    /* background-color:#B5C0D0;
     */
   
     margin:50px;
    left:250px;
    top:70px ;
    border-radius: 20px;}

h3,h4,h5,h6{
  font-family: "PT Sans Narrow", sans-serif; 
}
.mycart{
  height:auto;
  width: 1000px;;
  background-color:#ffff;
    margin-top:30px;
  position: fixed;
     left:250px;
 top:70px
}
h2{

}
hr{

  background-color: #0C0C0C; height: 5px;  border: 0;
/* 
  height:5px;
 border:none;
 color:#0C0C0C;
 background-color:#0C0C0C;
 display:block;
  */
}
.div-cart{
  height:auto;
  width:1330px;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color:#ffff;
    margin:40px;
    position:relative;
    left: 50px;
    /* border-radius: 20px; */
  
}
.shadow-23{
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(190, 190, 190),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
 }



.mycart-title{
  font-family:"Oswald", sans-serif;

   color:#607274;
    margin:15px
}



.mycart-p{
  margin-bottom:0 ;
  font-weight:bolder;
}

.App {
  text-align: center;

}

h1,h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.h1 {
  font-family: "Oswald", sans-serif;
 
}
body, html{
  position: absolute;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100%;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-23 {
  height:auto;
  width:1330px;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 
